$color-white: #FFFFFF;
$color-blue: #0d80bf;
$color-dark-blue: #006BA6;
$border-color: #e4e6ea;
$color-light-grey: #a7b0c0;
$color-dark-grey-btn: #2A415D;
$color-dark-grey-bg: #1E2B3B;
$color-green: #00ab84;
$color-light-green: #33BB9C;
$color-dark-green: #008869;
$color-main-text: #2D2D2D;
$color-hover-bg: #F5F5F7;
$color-grey: #868C9C;
$color-red: #ea615d;
$color-transparent-green: rgba(0, 171, 132, .1);

$desctip-small-size: 1200px;
$tablet-size: 996px;
$tablet-middle-size: 768px;
$tablet-small-size: 640px;
$mobile-size: 420px;
$mobile-small-size: 340px;

