* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@-ms-viewport{
    width: device-width;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    font-family: "GoodPro-WideBook", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.15; /* Correct the line height in all browsers*/
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
    color: $color-main-text;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
    height: 100%;
    min-width: 320px;
}
body {
    font-size: 14px;
}
::-moz-selection {
    background-color: $color-blue; /* 1 */
    color: $color-main-text; /* 1 */
    text-shadow: none;
}

::selection {
    background-color: $color-blue; /* 1 */
    color: $color-main-text; /* 1 */
    text-shadow: none;
}
img {
    border-style: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
